# Mail Funnels - SERVER .env

RAILS_ENV=development

############################################
# Shopify Variables (Must match Shopify App-Configuration)

APP_NAME=mail-funnel-server-dev
APP_KEY=
APP_SECRET=

APP_URL=http://e90ef07a.ngrok.io/
APP_URL=http://localhost:3001/
APP_URL=http://mailfunnels.com/

APP_SCOPE=read_orders, read_products


# Shopify Config

# App_URL= http://localhost:3001/api/install
# Set the callback = http://localhost:3001/api/auth
